body {
    background-color: #99cff6;
    font-family: Arial, sans-serif;
}

.wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    padding: 30px;
    text-align: center;
}

h2 {
    color: #310af3;
}

p {
    color: #555;
    font-size: 18px;
    margin: 10px 0;
}

a {
    color: #b3dcf9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    background-color: #16dafd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.profile-photo-placeholder {
   background-color: #acf2ff;
   border: 2px dashed #0bd5f9;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100px;
   margin: 20px auto;
   width: 100px
}

.btn {
    background-color: #16dafd;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #310af3;
}
